header {
    background: #faefdb;
    padding: 30px 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: #87245e;
    font-weight: bold;
    font-size: 22px;
    text-decoration: #f9be1b;


}

